amazon0601.cores
amazon0601.edges.cores
amazon0601.graph
amazon0601.offsets
amazon0601.properties
amazon0601.txt
amazon0601.txt.1.intervalsjava
amazon0601.txt.1.vtranslate
amazon0601.txt.4Bj.vout
amazon0601.txt.cores
amazon0601.txt.edata_java.0_1.adj
amazon0601.txt.edata_java.0_1.adj.index
amazon0601.txt.edata_java.e4B.0_1.size
amazon0601.txt.edata_java.e4B.0_1_blockdir_4194304
amazon0601.txt.gz
amazon0601.txt.shovel.0
amazon0601.txt.vertexshovel.0
amazon0601.txt_degsj.bin
cnr-2000.cores
cnr-2000.graph
cnr-2000.obl
cnr-2000.offsets
cnr-2000.properties
roadNet-CA.cores
roadNet-CA.graph
roadNet-CA.offsets
roadNet-CA.properties
roadNet-CA.txt
roadNet-CA.txt.gz
roadNet-TX.cores
roadNet-TX.graph
roadNet-TX.offsets
roadNet-TX.properties
roadNet-TX.txt
roadNet-TX.txt.gz
simplegraph.cores
simplegraph.edges.cores
simplegraph.graph
simplegraph.offsets
simplegraph.properties
simplegraph.txt
sorted-roadNet-CA.txt
sorted-roadNet-TX.txt
sorted-web-BerkStan.txt
twitter-2010.graph
twitter-2010.obl
twitter-2010.offsets
twitter-2010.properties
web-BerkStan.cores
web-BerkStan.graph
web-BerkStan.offsets
web-BerkStan.properties
web-BerkStan.txt
web-BerkStan.txt.gz
.DS_Store
CA-AstroPh.cores
CA-AstroPh.graph
CA-AstroPh.offsets
CA-AstroPh.properties
CA-AstroPh.txt
CA-AstroPh.txt_degsj.bin
CA-AstroPh.txt.1.intervalsjava
CA-AstroPh.txt.1.vtranslate
CA-AstroPh.txt.4Bj.vout
CA-AstroPh.txt.cores
CA-AstroPh.txt.edata_java.0_1.adj
CA-AstroPh.txt.edata_java.0_1.adj.index
CA-AstroPh.txt.edata_java.e4B.0_1.size
CA-AstroPh.txt.shovel.0
CA-AstroPh.txt.vertexshovel.0
ca-CondMat.cores
ca-CondMat.graph
ca-CondMat.offsets
ca-CondMat.properties
ca-CondMat.txt
ca-CondMat.txt_degsj.bin
ca-CondMat.txt.1.intervalsjava
ca-CondMat.txt.1.vtranslate
ca-CondMat.txt.4Bj.vout
ca-CondMat.txt.cores
ca-CondMat.txt.edata_java.0_1.adj
ca-CondMat.txt.edata_java.0_1.adj.index
ca-CondMat.txt.edata_java.e4B.0_1.size
ca-CondMat.txt.gz
ca-CondMat.txt.shovel.0
ca-CondMat.txt.vertexshovel.0
edgelistsortedfile
p2p-Gnutella31.cores
p2p-Gnutella31.graph
p2p-Gnutella31.offsets
p2p-Gnutella31.properties
p2p-Gnutella31.txt
p2p-Gnutella31.txt_degsj.bin
p2p-Gnutella31.txt.1.intervalsjava
p2p-Gnutella31.txt.1.vtranslate
p2p-Gnutella31.txt.4Bj.vout
p2p-Gnutella31.txt.cores
p2p-Gnutella31.txt.edata_java.0_1.adj
p2p-Gnutella31.txt.edata_java.0_1.adj.index
p2p-Gnutella31.txt.edata_java.e4B.0_1.size
p2p-Gnutella31.txt.gz
p2p-Gnutella31.txt.shovel.0
p2p-Gnutella31.txt.vertexshovel.0
roadNet-CA.txt_degsj.bin
roadNet-CA.txt.1.intervalsjava
roadNet-CA.txt.1.vtranslate
roadNet-CA.txt.4Bj.vout
roadNet-CA.txt.cores
roadNet-CA.txt.edata_java.0_1.adj
roadNet-CA.txt.edata_java.0_1.adj.index
roadNet-CA.txt.edata_java.e4B.0_1.size
roadNet-CA.txt.shovel.0
roadNet-CA.txt.vertexshovel.0
roadNet-TX.txt_degsj.bin
roadNet-TX.txt.1.intervalsjava
roadNet-TX.txt.1.vtranslate
roadNet-TX.txt.4Bj.vout
roadNet-TX.txt.cores
roadNet-TX.txt.edata_java.0_1.adj
roadNet-TX.txt.edata_java.0_1.adj.index
roadNet-TX.txt.edata_java.e4B.0_1.size
roadNet-TX.txt.shovel.0
roadNet-TX.txt.vertexshovel.0
soc-LiveJournal1.cores
soc-LiveJournal1.graph
soc-LiveJournal1.offsets
soc-LiveJournal1.properties
soc-LiveJournal1.txt
soc-LiveJournal1.txt_degsj.bin
soc-LiveJournal1.txt.1.intervalsjava
soc-LiveJournal1.txt.1.vtranslate
soc-LiveJournal1.txt.4Bj.vout
soc-LiveJournal1.txt.cores
soc-LiveJournal1.txt.edata_java.0_1.adj
soc-LiveJournal1.txt.edata_java.0_1.adj.index
soc-LiveJournal1.txt.edata_java.e4B.0_1.size
soc-LiveJournal1.txt.gz
soc-LiveJournal1.txt.shovel.0
soc-LiveJournal1.txt.vertexshovel.0
soc-sign-Slashdot090221.graph
soc-sign-Slashdot090221.offsets
soc-sign-Slashdot090221.txt
soc-sign-Slashdot090221.txt.gz
soc-Slashdot0902.cores
soc-Slashdot0902.graph
soc-Slashdot0902.offsets
soc-Slashdot0902.properties
soc-Slashdot0902.txt
soc-Slashdot0902.txt_degsj.bin
soc-Slashdot0902.txt.1.intervalsjava
soc-Slashdot0902.txt.1.vtranslate
soc-Slashdot0902.txt.4Bj.vout
soc-Slashdot0902.txt.cores
soc-Slashdot0902.txt.edata_java.0_1.adj
soc-Slashdot0902.txt.edata_java.0_1.adj.index
soc-Slashdot0902.txt.edata_java.e4B.0_1.size
soc-Slashdot0902.txt.graph
soc-Slashdot0902.txt.gz
soc-Slashdot0902.txt.offsets
soc-Slashdot0902.txt.properties
soc-Slashdot0902.txt.shovel.0
soc-Slashdot0902.txt.vertexshovel.0
web-BerkStan.txt_degsj.bin
web-BerkStan.txt.1.intervalsjava
web-BerkStan.txt.1.vtranslate
web-BerkStan.txt.4Bj.vout
web-BerkStan.txt.cores
web-BerkStan.txt.edata_java.0_1.adj
web-BerkStan.txt.edata_java.0_1.adj.index
web-BerkStan.txt.edata_java.e4B.0_1.size
web-BerkStan.txt.shovel.0
web-BerkStan.txt.vertexshovel.0
wiki-Talk.cores
wiki-Talk.graph
wiki-Talk.offsets
wiki-Talk.properties
wiki-Talk.txt
wiki-Talk.txt_degsj.bin
wiki-Talk.txt.1.intervalsjava
wiki-Talk.txt.1.vtranslate
wiki-Talk.txt.4Bj.vout
wiki-Talk.txt.cores
wiki-Talk.txt.edata_java.0_1.adj
wiki-Talk.txt.edata_java.0_1.adj.index
wiki-Talk.txt.edata_java.e4B.0_1.size
wiki-Talk.txt.gz
wiki-Talk.txt.shovel.0
wiki-Talk.txt.vertexshovel.0
CA-AstroPh.txt.edata_java.e4B.0_1_blockdir_4194304/0
ca-CondMat.txt.edata_java.e4B.0_1_blockdir_4194304/0
p2p-Gnutella31.txt.edata_java.e4B.0_1_blockdir_4194304/0
roadNet-CA.txt.edata_java.e4B.0_1_blockdir_4194304/0
roadNet-CA.txt.edata_java.e4B.0_1_blockdir_4194304/1
roadNet-CA.txt.edata_java.e4B.0_1_blockdir_4194304/2
roadNet-CA.txt.edata_java.e4B.0_1_blockdir_4194304/3
roadNet-CA.txt.edata_java.e4B.0_1_blockdir_4194304/4
roadNet-CA.txt.edata_java.e4B.0_1_blockdir_4194304/5
roadNet-TX.txt.edata_java.e4B.0_1_blockdir_4194304/0
roadNet-TX.txt.edata_java.e4B.0_1_blockdir_4194304/1
roadNet-TX.txt.edata_java.e4B.0_1_blockdir_4194304/2
roadNet-TX.txt.edata_java.e4B.0_1_blockdir_4194304/3
soc-LiveJournal1.txt.edata_java.e4B.0_1_blockdir_4194304/0
soc-LiveJournal1.txt.edata_java.e4B.0_1_blockdir_4194304/1
soc-LiveJournal1.txt.edata_java.e4B.0_1_blockdir_4194304/2
soc-LiveJournal1.txt.edata_java.e4B.0_1_blockdir_4194304/3
soc-LiveJournal1.txt.edata_java.e4B.0_1_blockdir_4194304/4
soc-LiveJournal1.txt.edata_java.e4B.0_1_blockdir_4194304/5
soc-LiveJournal1.txt.edata_java.e4B.0_1_blockdir_4194304/6
soc-LiveJournal1.txt.edata_java.e4B.0_1_blockdir_4194304/7
soc-LiveJournal1.txt.edata_java.e4B.0_1_blockdir_4194304/8
soc-LiveJournal1.txt.edata_java.e4B.0_1_blockdir_4194304/9
soc-LiveJournal1.txt.edata_java.e4B.0_1_blockdir_4194304/10
soc-LiveJournal1.txt.edata_java.e4B.0_1_blockdir_4194304/11
soc-LiveJournal1.txt.edata_java.e4B.0_1_blockdir_4194304/12
soc-LiveJournal1.txt.edata_java.e4B.0_1_blockdir_4194304/13
soc-LiveJournal1.txt.edata_java.e4B.0_1_blockdir_4194304/14
soc-LiveJournal1.txt.edata_java.e4B.0_1_blockdir_4194304/15
soc-LiveJournal1.txt.edata_java.e4B.0_1_blockdir_4194304/16
soc-LiveJournal1.txt.edata_java.e4B.0_1_blockdir_4194304/17
soc-LiveJournal1.txt.edata_java.e4B.0_1_blockdir_4194304/18
soc-LiveJournal1.txt.edata_java.e4B.0_1_blockdir_4194304/19
soc-LiveJournal1.txt.edata_java.e4B.0_1_blockdir_4194304/20
soc-LiveJournal1.txt.edata_java.e4B.0_1_blockdir_4194304/21
soc-LiveJournal1.txt.edata_java.e4B.0_1_blockdir_4194304/22
soc-LiveJournal1.txt.edata_java.e4B.0_1_blockdir_4194304/23
soc-LiveJournal1.txt.edata_java.e4B.0_1_blockdir_4194304/24
soc-LiveJournal1.txt.edata_java.e4B.0_1_blockdir_4194304/25
soc-LiveJournal1.txt.edata_java.e4B.0_1_blockdir_4194304/26
soc-LiveJournal1.txt.edata_java.e4B.0_1_blockdir_4194304/27
soc-LiveJournal1.txt.edata_java.e4B.0_1_blockdir_4194304/28
soc-LiveJournal1.txt.edata_java.e4B.0_1_blockdir_4194304/29
soc-LiveJournal1.txt.edata_java.e4B.0_1_blockdir_4194304/30
soc-LiveJournal1.txt.edata_java.e4B.0_1_blockdir_4194304/31
soc-LiveJournal1.txt.edata_java.e4B.0_1_blockdir_4194304/32
soc-LiveJournal1.txt.edata_java.e4B.0_1_blockdir_4194304/33
soc-LiveJournal1.txt.edata_java.e4B.0_1_blockdir_4194304/34
soc-LiveJournal1.txt.edata_java.e4B.0_1_blockdir_4194304/35
soc-LiveJournal1.txt.edata_java.e4B.0_1_blockdir_4194304/36
soc-LiveJournal1.txt.edata_java.e4B.0_1_blockdir_4194304/37
soc-LiveJournal1.txt.edata_java.e4B.0_1_blockdir_4194304/38
soc-LiveJournal1.txt.edata_java.e4B.0_1_blockdir_4194304/39
soc-LiveJournal1.txt.edata_java.e4B.0_1_blockdir_4194304/40
soc-LiveJournal1.txt.edata_java.e4B.0_1_blockdir_4194304/41
soc-LiveJournal1.txt.edata_java.e4B.0_1_blockdir_4194304/42
soc-LiveJournal1.txt.edata_java.e4B.0_1_blockdir_4194304/43
soc-LiveJournal1.txt.edata_java.e4B.0_1_blockdir_4194304/44
soc-LiveJournal1.txt.edata_java.e4B.0_1_blockdir_4194304/45
soc-LiveJournal1.txt.edata_java.e4B.0_1_blockdir_4194304/46
soc-LiveJournal1.txt.edata_java.e4B.0_1_blockdir_4194304/47
soc-LiveJournal1.txt.edata_java.e4B.0_1_blockdir_4194304/48
soc-LiveJournal1.txt.edata_java.e4B.0_1_blockdir_4194304/49
soc-LiveJournal1.txt.edata_java.e4B.0_1_blockdir_4194304/50
soc-LiveJournal1.txt.edata_java.e4B.0_1_blockdir_4194304/51
soc-LiveJournal1.txt.edata_java.e4B.0_1_blockdir_4194304/52
soc-LiveJournal1.txt.edata_java.e4B.0_1_blockdir_4194304/53
soc-LiveJournal1.txt.edata_java.e4B.0_1_blockdir_4194304/54
soc-LiveJournal1.txt.edata_java.e4B.0_1_blockdir_4194304/55
soc-LiveJournal1.txt.edata_java.e4B.0_1_blockdir_4194304/56
soc-LiveJournal1.txt.edata_java.e4B.0_1_blockdir_4194304/57
soc-LiveJournal1.txt.edata_java.e4B.0_1_blockdir_4194304/58
soc-LiveJournal1.txt.edata_java.e4B.0_1_blockdir_4194304/59
soc-LiveJournal1.txt.edata_java.e4B.0_1_blockdir_4194304/60
soc-LiveJournal1.txt.edata_java.e4B.0_1_blockdir_4194304/61
soc-LiveJournal1.txt.edata_java.e4B.0_1_blockdir_4194304/62
soc-LiveJournal1.txt.edata_java.e4B.0_1_blockdir_4194304/63
soc-LiveJournal1.txt.edata_java.e4B.0_1_blockdir_4194304/64
soc-LiveJournal1.txt.edata_java.e4B.0_1_blockdir_4194304/65
soc-Slashdot0902.txt.edata_java.e4B.0_1_blockdir_4194304/0
web-BerkStan.txt.edata_java.e4B.0_1_blockdir_4194304/0
web-BerkStan.txt.edata_java.e4B.0_1_blockdir_4194304/1
web-BerkStan.txt.edata_java.e4B.0_1_blockdir_4194304/2
web-BerkStan.txt.edata_java.e4B.0_1_blockdir_4194304/3
web-BerkStan.txt.edata_java.e4B.0_1_blockdir_4194304/4
web-BerkStan.txt.edata_java.e4B.0_1_blockdir_4194304/5
web-BerkStan.txt.edata_java.e4B.0_1_blockdir_4194304/6
web-BerkStan.txt.edata_java.e4B.0_1_blockdir_4194304/7
wiki-Talk.txt.edata_java.e4B.0_1_blockdir_4194304/0
wiki-Talk.txt.edata_java.e4B.0_1_blockdir_4194304/1
wiki-Talk.txt.edata_java.e4B.0_1_blockdir_4194304/2
wiki-Talk.txt.edata_java.e4B.0_1_blockdir_4194304/3
wiki-Talk.txt.edata_java.e4B.0_1_blockdir_4194304/4
.DS_Store
.DS_Store
