amazon0601.cores
amazon0601.edges.cores
amazon0601.graph
amazon0601.offsets
amazon0601.properties
amazon0601.txt
amazon0601.txt.1.intervalsjava
amazon0601.txt.1.vtranslate
amazon0601.txt.4Bj.vout
amazon0601.txt.cores
amazon0601.txt.edata_java.0_1.adj
amazon0601.txt.edata_java.0_1.adj.index
amazon0601.txt.edata_java.e4B.0_1.size
amazon0601.txt.edata_java.e4B.0_1_blockdir_4194304
amazon0601.txt.gz
amazon0601.txt.shovel.0
amazon0601.txt.vertexshovel.0
amazon0601.txt_degsj.bin
cnr-2000.cores
cnr-2000.graph
cnr-2000.obl
cnr-2000.offsets
cnr-2000.properties
roadNet-CA.cores
roadNet-CA.graph
roadNet-CA.offsets
roadNet-CA.properties
roadNet-CA.txt
roadNet-CA.txt.gz
roadNet-TX.cores
roadNet-TX.graph
roadNet-TX.offsets
roadNet-TX.properties
roadNet-TX.txt
roadNet-TX.txt.gz
simplegraph.cores
simplegraph.edges.cores
simplegraph.graph
simplegraph.offsets
simplegraph.properties
simplegraph.txt
sorted-roadNet-CA.txt
sorted-roadNet-TX.txt
sorted-web-BerkStan.txt
twitter-2010.graph
twitter-2010.obl
twitter-2010.offsets
twitter-2010.properties
web-BerkStan.cores
web-BerkStan.graph
web-BerkStan.offsets
web-BerkStan.properties
web-BerkStan.txt
web-BerkStan.txt.gz